// @import '~primeicons/primeicons.css';
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.css';
@import '~primeflex/primeflex.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/resource-timeline/main.css';

@import './variables';

.home {
  .tab-link {
    font-size: 20px;
    color: black;
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    &:hover {
      color: $lightblue;
      border-bottom: 3px solid $lightblue;
    }
  }
  .active {
    color: $lightblue;
    border-bottom: 3px solid $lightblue;
  }
  .reservation {
    background-color: $lightgrey;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      .select-date {
        font-size: 20px;
        display: flex;
        align-items: center;
        i:hover {
          cursor: pointer;
          color: $lightblue;
        }
        i:first-child {
          margin-right: 10px; 
        }
        i:last-child {
          margin-left: 10px;
        }
      }
      .btn-add {
        background-color: $lightblue;
        color: white;
        font-size: 16px;
        padding: 5px 10px;
        border: none;
        outline: none;
        &:hover {
          color: black;
        }
      }
    }
    &-content {
      padding: 7px;
    }
    &-bottom {
      display: flex;
      align-items: center;
      padding: 10px;
      .reserve-category {
        display: flex;
        align-items: center;
        font-size: 15px;
        &-circle {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-right: 5px;
        }
        .other {
          background-color: $lightblue;
        }
        .me {
          background-color: $lightpurple;
        }
      }
      .reserve-category:first-child {
        margin-right: 10px;
      }
      .reserve-category:last-child {
        margin-left: 10px;
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    width: 340px;
    background-color: white;
    .modal-body {
      padding: 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      .modal-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        label {
          width: 25%;
        }
      }
      .btn-group {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          margin: 10px 0;
          font-size: 20px;
          background-color: $lightblue;
          outline: none;
          border: none;
          &:hover(:not(:disabled)) {
            color: white;
            cursor: pointer;
          }
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.css-fkkwmy {
  display: block !important;
}

.fc-resource {
  height: 80px;
}

.fc .fc-timeline-lane-frame {
  height: 80px !important;
}

.fc-resource .fc-datagrid-cell-frame {
  height: 80px !important;
}

.fc .fc-datagrid-header .fc-datagrid-cell-frame {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.fc .fc-timeline-header-row-chrono .fc-timeline-slot-frame {
  justify-content: center !important;
}

.fc-direction-ltr .fc-timeline-event {
  padding: 0;
  border: none;
  .fc-event-end {
    border: none !important;
  }
}

.fc-scrollgrid-section-header {
  background-color: $calhead;
}

.fc-scrollgrid-section-body {
  background-color: $calbody;
}